@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

header {
  margin: 2rem 0;
  text-align: center;
}

header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  margin: 0;
  text-transform: uppercase;
  /* background: linear-gradient(90deg, #dfb9e7 40%, #cdc5ef 60%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.header p {
  display: block;
}

.main {
  display:flex;
  outline: 2px dashed red;
  width: 1200px;
  height: 800px;
  padding: 2em;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align:center;
  width: 400px;
  font-family: 'Roboto Condensed', sans-serif;
  gap: 0.2rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
}

button {
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  border: 1px solid #b0a3c3;
  background: #bcb1cb;
  color: #e5d9f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.questions {
  width: 700px;
  height: 450px;
  margin: 0rem 0rem 0rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.questions h5{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 0 2.5rem 0;
  /* color: #c1b2dd; */
}

.number {
  margin-right: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.active {
  background-color: #d2c0ed;
  color: aliceblue;
}

.progress {
  display: flex;
  justify-content: space-between;
}

progress color {
  background-color: aqua;
}

/* NoTopicSelected image */
.image1 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.wrapper {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Draggable components */
.item {
  width: 100px;
  height: 100px;
  background-color: #b0a3c3;
  color: aqua;
  margin: 5px;
  padding: 5px;
  border: 2px solid blueviolet;
  cursor: grab;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 30px;
  display: flex;
  align-items: center;   /* vertical centering */
  justify-content: center; /* horizontal centering */
  text-align: center;

}

.item.dragging {
  opacity: 0.5;
  background: lightcoral;
}

/* New Product
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    color: #343a40;
    line-height: 1;
  }
  
  .questions {
    width: 700px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .item {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 20px 24px;
    padding-right: 48px;
    cursor: pointer;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
  
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
  }
  
  .number {
    font-size: 24px;
    font-weight: 500;
    color: #ced4da;
  }
  
  .title,
  .icon {
    font-size: 24px;
    font-weight: 500;
  }
  
  .content-box {
    grid-column: 2 / -1;
    padding-bottom: 16px;
    line-height: 1.6;
  }
  
  .content-box ul {
    color: #868e96;
    margin-left: 16px;
    margin-top: 16px;
  
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  /* OPEN STATE */
  /* .open {
    border-top: 4px solid #087f5b;
  }
  
  .open .number,
  .open .text {
    color: #087f5b;
  }
  
 */ 